
bin/Debug/net8.0/

obj/Debug/net8.0/DuckDB.Cloud.AssemblyInfo.cs

obj/Debug/net8.0/DuckDB.Cloud.AssemblyInfoInputs.cache

obj/Debug/net8.0/DuckDB.Cloud.dll

obj/Debug/net8.0/DuckDB.Cloud.pdb

obj/Debug/net8.0/DuckDB.Cloud.sourcelink.json

obj/Debug/net8.0/ref/DuckDB.Cloud.dll

obj/Debug/net8.0/refint/DuckDB.Cloud.dll

obj/Debug/net8.0/

obj/DuckDB.Cloud.csproj.nuget.dgspec.json

obj/
